{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h2>Classroom Details: {{ classroom.name }}</h2>
    <p><strong>Year:</strong> {{ classroom.year }}</p>
    <p><strong>Details:</strong> {{ classroom.details }}</p>
    
    <h3>Students in this Classroom</h3>
    <a href="{{ url_for('classroom_bp.add_student', classroom_id=classroom.id) }}" class="btn btn-success mb-3">
        Add Student
    </a>
    
    <!-- Table to display students -->
    <table class="table">
        <thead>
            <tr>
                <th>ชื่อ</th>
                <th>นามสกุล</th>
                <th>เลขประจำตัว</th>
                <th>Actions</th>
                <!-- Add more headers if needed -->
            </tr>
        </thead>
        <tbody>
            {% for student in students %}
            <tr>
                <td>{{ student.first_name }} </td>
                <td>{{ student.last_name }}</td>
                <td>{{ student.id_card }}</td>
                <td>
                    <form action="{{ url_for('classroom_bp.remove_student', classroom_id=classroom.id, student_id=student.id) }}" method="post">
                        <button type="submit" class="btn btn-danger">Remove</button>
                    </form>
                </td>
                <!-- Add more data columns if needed -->
            </tr>
            {% else %}
            <tr>
                <td colspan="2">No students added yet.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
    <h3>Subjects</h3>
    <a href="{{ url_for('classroom_bp.add_subject', classroom_id=classroom.id) }}" class="btn btn-info mb-3">Add Subject</a>


        <table class="table">
            <thead>
                <tr>
                    <th>วิชา</th>
                    <th>หน่วยกิต</th>
                    <th>Actions</th>
                    <!-- Add more headers if needed -->
                </tr>
            </thead>
            <tbody>
                {% for subject in subjects %}
                <tr>
                    <td>{{ subject.name  }} </td>
                    <td>{{ subject.credit_units }}</td>
                    <td>
                        <form action="{{ url_for('classroom_bp.remove_subject', classroom_id=classroom.id, subject_id=subject.id) }}" method="post">
                            <button type="submit" class="btn btn-danger">Remove</button>
                        </form>
                        
                    </td>
       
                </tr>
                {% else %}
                <tr>
                    <td colspan="2">ไม่มีรายวิชาในห้องเรียน</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

  
    
    <a href="{{ url_for('classroom_bp.classrooms') }}" class="btn btn-secondary">Back to Classrooms</a>
</div>
{% endblock %}
