{% extends 'base.html' %}

{% block content %}
<div class="container-xxl flex-grow-1 container-p-y">
  <div class="row">
    <div class="col-lg-8 mb-4 order-0">
      <div class="card">
        <div class="d-flex align-items-end row">
          <div class="col-sm-7">
            <div class="card-body">
              <h5 class="card-title text-primary">Congratulations John! 🎉</h5>
              <p class="mb-4">
                You have done <span class="fw-bold">72%</span> more sales today. Check your new badge in
                your profile.
              </p>

              <a href="javascript:;" class="btn btn-sm btn-outline-primary">View Badges</a>
            </div>
          </div>
          <div class="col-sm-5 text-center text-sm-left">
            <div class="card-body pb-0 px-0 px-md-4">
              
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="col-12 mb-4">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <!-- สร้างปุ่มที่มี icon ในแต่ละปุ่ม -->
            <div class="col d-flex justify-content-between flex-wrap">
              <button class="btn btn-outline-dark flex-fill mx-1 my-1">
                <i class="bx bx-book" style="font-size: 1.5em;"></i>
                <span style="display: block; font-size: 0.8em;">ผลการเรียน</span>
              </button>
              <button class="btn btn-outline-dark flex-fill mx-1 my-1">
                <i class="bx bx-book" style="font-size: 1.5em;"></i>
                <span style="display: block; font-size: 0.8em;">ผลการเรียน</span>
              </button>
              <button class="btn btn-outline-dark flex-fill mx-1 my-1">
                <i class="bx bx-book" style="font-size: 1.5em;"></i>
                <span style="display: block; font-size: 0.8em;">ผลการเรียน</span>
              </button>
              <button class="btn btn-outline-dark flex-fill mx-1 my-1">
                <i class="bx bx-book" style="font-size: 1.5em;"></i>
                <span style="display: block; font-size: 0.8em;">ผลการเรียน</span>
              </button>
              <button class="btn btn-outline-dark flex-fill mx-1 my-1">
                <i class="bx bx-book" style="font-size: 1.5em;"></i>
                <span style="display: block; font-size: 0.8em;">ผลการเรียน</span>
              </button>
              <!-- ทำซ้ำสำหรับปุ่มที่เหลือโดยปรับเปลี่ยน icon และข้อความตามที่คุณต้องการ -->
            </div>
          </div>
        </div>
      </div>
    </div>
    
   
    

    </div>
  
   

        <!-- </div>
<div class="row"> -->
      

  

  </div>
</div>
{% endblock %}